.block-title{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: rem(100);
    align-items: center;

  &--dark{
    h2{
      color: var(--color-dark-15);
    }
  }
  &--2{
    grid-template-columns: 1fr;
    gap: rem(10);
  }
    h2 {
      position: relative;

      span {
        font-size: rem(12);
        position: absolute;
        left: 0;
        bottom: rem(-10);
        color: var(--color-dark-40-5);
      }
    }
  p {
    font-size: rem(14);
  }

  @include mobile{
    grid-template-columns: 1fr;
    gap: rem(10);
  }
}