/* ===== Lounge Section ===== */
.lounge {
  background: #0a0a0a;
  overflow: hidden;
  z-index: 1;
}

.lounge__inner {
  display: flex;
  flex-direction: column;
  padding: 4rem 0;
  @include mobile{
    padding: var(--container-padding-x);
  }

  .block-title{
    h2{
      color: var(--color-accent-lounge);
    }
  }
}

.lounge__track {
  display: flex;
  width: max-content;
  gap: 0;
  padding-right: 2rem;
}
.lounge__card:last-child {
  padding-right: 0;
}

.lounge__card {
  flex: 0 0 100vw;
  display: flex;
  align-items: center;
  gap: 8rem;
  padding: 0 2rem;
  min-height: 70vh;
}

.lounge__content {
  flex: 1;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  gap: rem(20);
  align-items: flex-start;
}

.lounge__title {
  color: #fff;
  font-size: clamp(2rem, 4vw, 3.5rem);
  margin-bottom: 1.5rem;
  line-height: 1.1;
}

.lounge__text {
  color: #b0b0b0;
  font-size: 1.25rem;
  line-height: 1.6;
  max-width: 90%;

  @include mobile{
    font-size: rem(14);
  }
}

.lounge__image {
  flex: 1;
  max-width: 500px;
  height: 60vh;
  position: relative;

  background: #1a1a1a;
}

.lounge__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  position: relative;
}

/* ===== Mobile Fallback ===== */
@media (max-width: 1024px) {
  .lounge__track {
    flex-direction: column;
    width: 100%;
  }
  .lounge__card {
    flex-direction: column-reverse;
    gap: 2rem;
    padding: 3rem 0;
    min-height: auto;
  }
  .lounge__image {
    max-width: 100%;
    height: 35vh;
    width: 100%;
  }
  .lounge__text { max-width: 100%; }
}

.lounge__number{
  position: absolute;
  rotate: -90deg;
  font-size: rem(80);
  font-weight: 800;
  font-family: Roboto, sans-serif;
  top: 50%;
  left: rem(-300);
  translate: -0% -50%;
  text-transform: uppercase;

  @include mobile{
    display: none;
  }
  b{
    font-family: Montserrat;
    padding: rem(5);
    border: var(--border-def);
    transform: rotate(90deg);
  }
}