.social{

  &__list{
    display: flex;
    gap: rem(10);
    justify-content: center;
    padding: rem(20);
    @include mobile{
      padding: rem(10);
    }
  }
  &__item{

    padding: rem(10);
    background-color: var(--color-dark-12);
    @include flex-center();
    border: 1px solid var(--color-dark-12);
    transition: var(--transition-duration);

    svg{
      height: rem(25);
      width: rem(25);
      fill: var(--color-light-40);
      color: var(--color-light-40);
    }

    &:hover{
      border-color: var(--color-accent-game);
      transition: var(--transition-duration);

      svg{
        fill: var(--color-accent-game);
        color: var(--color-accent-game);
      }
    }
  }
}